* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  /*font-size: 16px;*/
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1228px;
  margin: 0 auto;
  text-align: center;
}

#wrapper {
  padding: 20px;
  max-height: 100vh;
}

#chaseSVG {
  max-height: calc(100vh - 40px);
}

#modalTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

#modalContent {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.25s ease-in-out;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 640px;
  animation: animatetop 0.4s;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

svg rect {
  fill: transparent;
}

svg circle {
  fill: #ffffff;
  stroke: black;
  stroke-width: 3;
  filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
}

  /* .hover_group {
    transition: opacity 0.25s ease-in-out;
  }

  .hover_group rect {
    opacity: 0.8;
    fill: #ffffff;
  } */

  /* .hover_group:hover {
    opacity: 0.5;
  } */

@keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}

@media (max-width: 460px) {
  #modalTitle {
    font-size: 12px;
  }

  #modalContent {
    font-size: 8px;
  }
}
